<div class="container mx-auto my-5 mx-8">

    <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-full mx-2">
<div>
    <div class="flex">
        <div class='w-1/ p-10 bg-gradient-to-r from-yellow-100'>
                 <h1 class="mb-16 text-2xl font-bold">Вся Правда О COVID-19</h1>
                <p class='mb-5 text-5xl uppercase tracking-widest'> <span class="text-yellow-400">Читайте</span> <br/> Подробнее <br/> в нашей новой книге</p>
                <p class="mb-7 text-md leading-snug text-yellow-400"> Наша новая книга <b>"Вся Правда О COVID-19"</b> наконец-то вышла в свет. В ней вы найдете
                    разоблаченные секреты и ответы на многие ваши вопросы.</p>
                <div>
                   
                </div>
        </div>
        <div class="w-1/2">
            <img class=" mt-8" src="{{ site.baseurl }}/img/cover.png" alt="Waiting Image" />
        </div>
    </div>
</div>

    </div>
</div>
