<div class="box">
    <center>
        Наша новая книга <b>"Вся Правда О COVID-19"</b> наконец-то вышла в свет. В ней вы найдете
        разоблаченные секреты и ответы на многие ваши вопросы.
    </center>
</div>

<div class="columns" style="margin-top: 3em;">
    <div class="column">
        <center>
            <img src="../img/cover.png" alt="">
        </center>
    </div>
    <div class="column">
        <div class="intro">
            <center>
                <p class="title is-2">
                    <br />
                    Вся Правда <br />
                    О <br />
                    COVID-19
                </p>
                <p> <a href="">Salutem Group</a></p>
                <br />
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 213, 24);"></i>
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 213, 24);"></i>
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 213, 24);"></i>
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 213, 24);"></i>
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 213, 24);"></i>
            </center>
        </div>
    </div>
</div>