<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/alt.css">
<div class="box" style="background-color: green;">
    <div class="content">
        <div class="content__container">

            <ul class="content__container__list">
                <li class="content__container__list__item">ПОЛУЧИТЕ СКИДКУ 5% НА ВСЕ ПРОДУКТЫ ТОЛЬКО СЕЙЧАС! <a
                        href="{{ site.baseurl }}" style="text-decoration: none">УЗНАТЬ БОЛЬШЕ</a> </li>
                <li class="content__container__list__item">СОХРАНИ 5% ПРЯМО СЕЙЧАС</li>
                <li class="content__container__list__item">ПОДЕЛИТЕСЬ С ДРУЗЬЯМИ РЕФЕРАЛЬНОЙ ПРОГРАММОЙ</li>
                <li class="content__container__list__item">ПОДЕЛИТЕСЬ С ДРУЗЬЯМИ РЕФЕРАЛЬНОЙ ПРОГРАММОЙ</li>
            </ul>
        </div>
       
    </div>
</div>
