<main class="py-4">
    <div class="px-4">
        <h1 class="text-2xl font-extrabold text-center mb-8 text-red-700">
        Специальные Предложения
        </h1>
      <div class="block md:flex justify-between md:-mx-2">
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
          <div class="bg-white rounded-lg overflow-hidden shadow relative">
              <a href="">
            <img class="h-56 w-full object-cover object-center" src=" {{ site.baseurl }}/img/shop/product1.png" alt="">
            <div class="p-4 h-auto md:h-40 lg:h-48">
              <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
               Защита Иммунитета
              </a>
              <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                В этом разделе вы найдёте для себя добавки, специально разработанные для повышения иммунитета
              </div>
              <div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#immune</a>
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#support</a>
              </div>
            </a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
          <div class="bg-white rounded-lg overflow-hidden shadow relative">
            <a href="">
            <img class="h-56 w-full object-cover object-center" src="{{ site.baseurl }}//img/shop/product-2.png" alt="">
            <div class="p-4 h-auto md:h-40 lg:h-48">
              <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
Восстановление После Вакцинации
              </a>
              <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                При помощи определенных видов растений и трав, организм легко справится с устранением побочных эффектов в короткие сроки</div>
              <div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#recovery</a>
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#health</a>
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#vaccine</a>
              </div>
            </a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
          <div class="bg-white rounded-lg overflow-hidden shadow relative">
            <img class="h-56 w-full object-cover object-center" src="{{ site.baseurl }}//img/shop/product1.png" alt="">
            <div class="p-4 h-auto md:h-40 lg:h-48">
              <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
           Защита От Ковид Усиленная
            </a>
              <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                Товары в данном разделе - универсальные средства для поддержки организма в тонусе</div>
              <div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#covid</a>
                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#protect</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>