<header>
    <nav class="p-6">
      <div class="flex justify-between items-center">
        <h1 class="pr-6 border-r-2 text-2xl font-bold text-gray-500">Факты О Еде и Протеинах</h1>
        <div class="flex justify-between flex-grow">
          <div class="flex ml-6 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4 cursor-pointer text-gray-500" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </span>
            <input class="outline-none text-sm flex-grow bg-gray-100" type="text" placeholder="Найти..." />
          </div>
          <div class="md:flex space-x-6 hidden">
            <span class="text-gray-700 text-md">Фрукты</span>
            <span class="text-gray-700 text-md">Овощи</span>
            <span class="text-gray-700 text-md">Травы</span>
            <span class="text-gray-700 text-md">Орехи</span>
            <span class="text-gray-700 text-md">Приправы</span>
            <span class="text-gray-700 text-md">Насекомые</span>
          </div>
        </div>
      </div>
    </nav>
    <style>
    .bg-app {
      background-image: url('https://images.unsplash.com/photo-1628697530090-444abffc3d2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1947&q=80');
    }
  </style>
  <div class="container mx-auto bg-app h-96 rounded-md flex items-center">
    <div class="sm:ml-20 text-gray-50 text-center sm:text-left">
      <h1 class="text-5xl text-indigo-600 font-extrabold mb-4 mt-8">

        Апгрейд Иммунитета<br />
        При Помощи Трав
      </h1>
      <p class="text-2xl text-indigo-400 inline-block sm:block">Новая Книга от dr. Salutem</p>
      <button class="mt-8 px-4 py-2 bg-orange-600 text-white rounded mb-16">ЗАКАЗАТЬ СЕЙЧАС</button>
    </div>
  </div>
</header>
