<div class="container mx-auto">
    <a href="{{ site.baseurl }}/product-order/">

        <section class="hero"
            style="background: url('{{ site.baseurl }}/img/virus1.jpg') no-repeat center center; background-size: cover;">

            <div class="hero-body">
                <div class="container">
                    <div class="grid grid-rows-3 grid-flow-col gap-3">

                        <div class="row-start-1 row-end-4 object-contain">
                            <img class="object-contain h-48 w-48" src="{{ site.baseurl }}/img/book1.png" alt="">
                        </div>
                        <div class="row-end-3 row-span-2 object-contain">
                            <p class="text-2xl underline" style="color: white">Правда О COVID-19</p>
                            <br />
                            <p class="text-2xl" style="color: white">Книга От Независимых Натуропатов</p>
                        </div>
                       
                        <div class="row-start-2 row-span-2 object-contain">
                            <button
                                class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                                Заказать
                                Сейчас
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </a>
</div>