<a href="">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                    <figure class="image is-96x96">
                        <img src="img/vir.png" alt="">
                    </figure>
                    <p class="title is-2" style>Правда О COVID-19</p>
                    <hr style="width: 60%; " />
                    <p class="subtitle is-3" style;">Книга От Независимых Натуропатов</p>
                </div>
                <div class="column">
                    <figure class="image is-128x128">
                        <img src="img/book.png" alt="">
                    </figure>
                </div>
                <div class="column">
                    <div class="centered">
                    <button class="button is-danger is-focused"> Заказать Сейчас</button>
                </div>
                  
                </div>
            </div>
            </div>
    </section>
</a>