<a href="">
    {% if page.image %}
                <section class="hero is-small" 
                    style="background: url('{{ site.baseurl }}/img/home.jpg') no-repeat center center; background-size: responsive;">
                    {% endif %} 
                    <div class="hero-body">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-6">   
                                    <p class="title is-4" style="color: white">Правда О COVID-19</p>
                                <hr style="width: 70%; " />
                                <p class="subtitle is-5" style="color: white">Книга От Независимых Натуропатов</p>
                                 </div>
                            <div class="column">
                                <figure class="image is-128x128">
                                    <img src="{{ site.baseurl }}/img/book.png" alt="">
                                </figure>
                            </div>
                            <div class="column">
                                <div class="centered" style="padding-top: 5rem;">
                                    <button class="button is-large" style="background-color: rgb(185, 5, 5); color: white">
                                        Заказать
                                        Сейчас</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

</a>