<div class="container rounded overflow-hidden border shadow shadow-lg">
    <div class="container mx-auto">
        <a href="{{ site.baseurl }}/">
            <section class="hero"
                style="background: url('{{ site.baseurl }}/img/cod.png') no-repeat center center; background-size: cover;">
                <div class="hero-body">
                    <div class="container">   
                        <div class="text-black font-bold text-xl mb-2 leading-tight">
                        <p class="text-center text-4xl font-extrabold">
                            Мы Изменили Правила Игры В Здоровье
                            </b>
                        </p>
                    </div>
                        <br />
                        <div class="text-black font-bold text-xl mb-2 leading-tight">

                        <p class="text-center text-xl ">
                            <b> Наша цель - дать вам возможность взять под свой контроль свое здоровье,
                                <br />
                                предоставляя
                                достоверную
                                информацию о естественном здоровье и <br /> защищая ваше право делать осознанный выбор в
                                отношении
                                здоровья.
                                <br /><br />
                                Salutem Group. </b>
</p>
                    </div>
                </div>
                </div>
            </section>

        </a>
    </div>
</div>