<div class="nature-media">
    <div class="media">
        <figure class="media-left">
            <a href="{{ nature.url | prepend: site.baseurl }}">
                <p class="image is-64x64">
                    {% if nature.avatar %}
                    <img src="{{ nature.avatar | prepend: site.baseurl }}" alt="{{ nature.name }}" />
                    {% else %}
                    <i class="fas fa-user fa-4x"></i>
                    {% endif %}
                </p>
            </a>
        </figure>
        <div class="media-content">
            <a href="{{ nature.url | prepend: site.baseurl }}">
                <p class="title is-5">{{ nature.name }}</p>
            </a>
            <p class="subtitle is-5">{{ nature.position }}</p>
            <div class="content">
                <p>{{ nature.description }}</p>
            </div>
        </div>
    </div>
</div>
