
    
<div class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">
                <img src="img/logo.svg" alt="logo" />
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
    <div class="container">
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">           
                <a class="navbar-item" href="{{ site.baseurl }}/" style="color: red;">НОВОСТНАЯ ЛЕНТА</a>
            

                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/natures/">НАТУРОПАТИЯ</a>
                {% endif %}
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/fitness/">FITNESS</a>
                {% endif %}
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/food-facts/">ФАКТЫ О ЕДЕ</a>
                {% endif %}
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/about/">О НАС</a>
                {% endif %}
                <div class="navbar-end">
                    {% if site.authors %}
                    <a class="button is-primary" href="{{ site.baseurl }}/authors/">
                       
                            <span class="icon">
                                <i class="fas fa-download"></i>
                            </span>
                            <span>ШОП</span>
                        </a></a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>