<div class="navbar is-transparent">
    <div class="container" style="padding-top: 2em;">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">
                <figure >
                <img src="{{ site.baseurl }}/img/logo.svg" alt="logo" style="max-height: 5em;" />
            </figure> 
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
         </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">           
                <a class="navbar-item" href="{{ site.baseurl }}/" style="color: red;">НОВОСТНАЯ ЛЕНТА</a>
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/natures/">НАТУРОПАТИЯ</a>
                {% endif %}
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/fitness/">FITNESS</a>
                {% endif %}
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/food-facts/">ФАКТЫ О ЕДЕ</a>
                {% endif %}
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/about/">О НАС</a>
                {% endif %}
                <div class="navbar-end">
                    {% if site.authors %}
                    <a class="button is-primary" href="{{ site.baseurl }}/products/">
                       
                            <span class="icon">
                                <i class="fas fa-download"></i>
                            </span>
                            <span>ШОП</span>
                        </a>
                    </a>
                       
                    {% endif %}

                </div>
            </div>
        </div>

    </div>  
</div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
          
              // Add a click event on each of them
              $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
          
                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);
          
                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');
          
                });
              });
            }
          
          });
    </script>