<div class="card" style="background: rgb(226, 226, 223);">
    <div class="card-image" style="padding: 1rem;">

        <div class="date" style="margin-bottom: 1rem;">
            <i class="fa fa-star" style="color: rgb(204, 3, 3);" aria-hidden="true"></i>
            <strong>
                <p class="subtitle is-5" style="display: inline-block; color: rgb(204, 3, 3);"> <b>{{post.title}}</b>
                </p>
            </strong>
        </div>

        <div class="container">
            <h1 style="color: black;">
                <b>{{post.name}}</b>
            </h1>
            <br/>
            <div class="columns">
                
                <div class="column">
                    <p>{{post.short}} 
                        <a href="{{ site.baseurl }}{{ post.url }}">Подробнее</a>
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-240x240">
                        <img src="{{ post.image | prepend: site.baseurl }}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="{{ site.baseurl }}{{ post.url }}">
            </a>
          
            <p class="subtitle is-7"> {{ post.date | date: "%b %-d, %Y" }} {{ post.author }}</p>
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
        </div>
       
    </div>
</div>