<div class="card" style="background: rgb(244, 245, 247);">
    <div class="card-image" style="padding-top: 1rem; padding-left: 1rem">

        <div class="date">
            <i class="fa fa-star" style="color: rgb(204, 3, 3);" aria-hidden="true"></i>
            <strong>
                <p class="subtitle is-5" style="display: inline-block; color: rgb(204, 3, 3);"> <b>{{post.title}}</b>
                </p>
            </strong>
        </div>

        <div class="container">
            <p class="title is-4" style="color: black; margin-top: 6px;">
                <b>{{post.name}}</b>
            </h1>
            <br/>
            <div class="columns">
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{{ post.image | prepend: site.baseurl }}" alt="">
                    </figure>
                </div>
                <div class="column">
                    {{post.short}} 
                        <a href="{{ site.baseurl }}{{ post.url }}">Подробнее</a>
                    
                    <div class="card-content">
                        <div class="content">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                            </a>
                          
                            <p class="subtitle is-7"> {{ post.date | date: "%b %-d, %Y" }} {{ post.author }}</p>
                   
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>