<!-- This is an example component -->
<div class="m-auto px-2 py-2 max-w-5xl">
    <div class="bg-white shadow-2xl" >
    
       
        <div class="mx-auto px-2 py-2 max-w-5xl">
          
            <h2 class="font-extrabold text-4xl text-gray-800 text-center">Наша новая книга -<br/> Улучшите свой иммунитет с помощью трав</h2>
                <p class="lg:text-lg text-xl text-center text-gray-700 px-2 mr-1 my-3">
                    Закажи прямо сейчас! Создайте сильную и стойкую иммунную систему естественным путем с моей новой книгой «Повысьте свой иммунитет с помощью трав», доступной сейчас. 
                </p>

                <div>
                    <img class="items-center object-contain" src="{{ site.baseurl }}/img/new-book.png ">
                </div>
        </div>
    </div>
</div>
