<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<nav class="rounded font-sans m-8">
    <ol class="list-reset flex text-grey-dark">
        <li>
            <div x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen"
                    class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    Пре-Воркаут
                    <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                </a>

                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0"></div>

                <div x-show="dropdownOpen" class="relative right-0 mt-2 py-2 bg-indigo-100 rounded-md shadow-xl z-20">
                    <a href="{{ site.baseurl }}/getting-started/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Начало</a>

                    <a href="{{ site.baseurl }}/setting-goals/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Ставим
                        Цели</a>
                    <a href="{{ site.baseurl }}/pillars-of-fitness/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Столпы
                        Фитнеса</a>

                    <a href="{{ site.baseurl }}/proteins/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Протеины</a>

                    <a href=" {{ site.baseurl }}/injury-prevention/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Предотвращение
                        Травм </a>
                </div>
            </div>
        </li>
        <li>
            <div x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                Новичок
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
            </a>

                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen" class="relative right-0 mt-2 py-2 bg-indigo-100 rounded-md shadow-xl z-20">
                    <a href="{{ site.baseurl }}/beginner/intro/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Интро</a>

                    <a href="{{ site.baseurl }}/beginner/itvi/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">ИТВИ</a>

                    <a href="{{ site.baseurl }}/beginner/functional-training/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Функциональный
                        Тренинг</a>

                    <a href="{{ site.baseurl }}/beginner/strength-training/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Силовой
                        Тренинг</a>

                    <a href="{{ site.baseurl }}/beginner/workout-plan/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Воркаут
                        План</a>
                </div>
            </div>
        </li>
        <li>
            <div x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                Медиум
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
            </a>

                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen" class="relative right-0 mt-2 py-2 bg-indigo-100 rounded-md shadow-xl z-20">
                    <a href="{{ site.baseurl }}/medium/intro/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Интро</a>

                    <a href="{{ site.baseurl }}/medium/itvi/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">ИТВИ</a>

                    <a href="{{ site.baseurl }}/medium/functional-training/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Функциональный
                        Тренинг</a>

                    <a href="{{ site.baseurl }}/medium/strength-training/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Силовой
                        Тренинг
                    </a>

                    <a href="{{ site.baseurl }}/medium/workout-plan/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Воркаут
                        План</a>
                </div>
            </div>
        </li>
        <li>
            <div x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                Продвинутый
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
            </a>
                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen" class="relative right-0 mt-2 py-2 bg-indigo-100 rounded-md shadow-xl z-20">
                    <a href="{{ site.baseurl }}/advanced/intro/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Интро</a>

                    <a href="{{ site.baseurl }}/advanced/itvi/"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">ИТВИ</a>

                    <a href="{{ site.baseurl }}/advanced/strength-training"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Силовой
                        Тренинг
                    </a>

                    <a href="{{ site.baseurl }}/advanced/functional-training"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Функциональный
                        Тренинг</a>

                    <a href="{{ site.baseurl }}/advanced/workout-plan"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Воркаут
                        План</a>
                </div>
            </div>
        </li>
        <li>
            <div x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                Пост-Воркаут
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
            </a>
                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen" class="relative right-0 mt-2 py-2 bg-indigo-100 rounded-md shadow-xl z-20">
                    <a href="{{ site.baseurl }}/postworkout/rest-days"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Дни
                        Отдыха</a>

                    <a href="{{ site.baseurl }}/postworkout/recovery"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Восстановление</a>

                    <a href="{{ site.baseurl }}/postworkout/fitness0supp"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Добавки
                        Для Фитнеса</a>

                    <a href="{{ site.baseurl }}/postworkout/additional-res"
                        class="flex px-6 py-2 text-gray-800 text-base md:text-lg  transition-transform transform hover:translate-x-1">Дополнительные
                        Ресуры
                        план</a>
                </div>
            </div>
        </li>
    </ol>
</nav>