<style>


    /* Rotate chevron in collapsing */
    [data-bs-toggle='collapse'][aria-expanded='true'] span:nth-child(3) svg {
        transform: rotate(-90deg);
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapsing {
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    @media (prefers-reduced-motion: reduce) {
        .collapsing {
            transition: none;
        }

        .fade {
            transition: none;
        }
    }


    /* TODO: CHANGE SCROLLBAR STYLE */
</style>
<div class="md:flex overflow-hidden text-gray-900">
    <aside class="sticky top-0 bg-indigo-800">
        <div class="flex flex-col pt-12 pb-4 rounded-lg neumorphism-shadow">
            <!-- Sidebar links -->
            <nav class="flex-1 max-h-full p-4 mt-6 overflow-y-hidden">
                <ul class="max-h-full p-2 space-y-1 overflow-y-auto divide-y divide-indigo-300 neumorphism-shadow">
                    <!-- Dashboard link -->
                    <li>
                        <button
                            class="flex items-center w-full px-4 py-2 text-gray-100 transition-transform transform rounded-md hover:translate-x-1 focus:outline-none focus:ring"
                            data-bs-target="#dashboardCollapse" data-bs-toggle="collapse" aria-expanded="false"
                            aria-controls="dashboardCollapse">
                            <span>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                </svg>
                            </span>
                            <span class="ml-2 text-xl">Пре-воркаут</span>
                            <span class="ml-auto">
                                <svg class="w-4 h-4 transition-transform" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </span>
                        </button>
                        <ul class="collapse" id="dashboardCollapse">
                            <li>
                                <a href="{{ site.baseurl }}/getting-started/"
                                    class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Начало</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/setting-goals/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Ставим
                                    Цели</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/pillars-of-fitness/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Столпы Фитнеса</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/proteins/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Протеины</a>
                            </li>
                            <li>
                                <a href=" {{ site.baseurl }}/injury-prevention/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Предотвращение
                                    травм </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Settings link -->
                    <li>
                        <button
                            class="flex items-center w-full px-4 py-2 text-gray-100 transition-transform transform rounded-md hover:translate-x-1 focus:outline-none focus:ring"
                            data-bs-target="#settingsCollapse" data-bs-toggle="collapse" aria-expanded="false"
                            aria-controls="settingsCollapse">
                            <span>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </span>
                            <span class="ml-2 text-xl">Новичок</span>
                            <span class="ml-auto">
                                <svg class="w-4 h-4 transition-transform" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </span>
                        </button>
                        <ul class="collapse" id="settingsCollapse">
                            <li>
                                <a href="{{ site.baseurl }}/beginner/intro/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Интро</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/beginner/functional-training/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Функциональные
                                    тренинги</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/beginner/strength-training/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Силовой тренинг</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/beginner/workout-plan/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Воркаут
                                    план</a>
                            </li>
                        </ul>
                    </li>
                       <!-- Medium link -->
                       <li>
                        <button
                            class="flex items-center w-full px-4 py-2 text-gray-100 transition-transform transform rounded-md hover:translate-x-1 focus:outline-none focus:ring"
                            data-bs-target="#mediumCollapse" data-bs-toggle="collapse" aria-expanded="false"
                            aria-controls="mediumCollapse">
                            <span>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </span>
                            <span class="ml-2 text-xl">Медиум</span>
                            <span class="ml-auto">
                                <svg class="w-4 h-4 transition-transform" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </span>
                        </button>
                        <ul class="collapse" id="mediumCollapse">
                            <li>
                                <a href="{{ site.baseurl }}/md-intro/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Интро</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/md-functional-training/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Функциональные
                                    тренинги</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/md-strength-training/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Тренинг
                                    выносливости</a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/md-workout-plan/"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Воркаут
                                    план</a>
                            </li>
                        </ul>
                    </li>
                      <!-- Advanced link -->
                      <li>
                        <button
                            class="flex items-center w-full px-4 py-2 text-gray-100 transition-transform transform rounded-md hover:translate-x-1 focus:outline-none focus:ring"
                            data-bs-target="#advancedCollapse" data-bs-toggle="collapse" aria-expanded="false"
                            aria-controls="advancedCollapse">
                            <span>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </span>
                            <span class="ml-2 text-xl">Продвинутый</span>
                            <span class="ml-auto">
                                <svg class="w-4 h-4 transition-transform" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </span>
                        </button>
                        <ul class="collapse" id="advancedCollapse">
                            <li>
                                <a href="#"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Интро</a>
                            </li>
                            <li>
                                <a href="#"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Функциональные
                                    тренинги</a>
                            </li>
                            <li>
                                <a href="#"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Тренинг
                                    выносливости</a>
                            </li>
                            <li>
                                <a href="#"
                                  class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Воркаут
                                    план</a>
                            </li>
                        </ul>
                    </li>
                    
                  <!-- Medium link -->
                  <li>
                    <button
                        class="flex items-center w-full px-4 py-2 text-gray-100 transition-transform transform rounded-md hover:translate-x-1 focus:outline-none focus:ring"
                        data-bs-target="#mediumCollapse" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="mediumCollapse">
                        <span>
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <span class="ml-2 text-xl">Медиум</span>
                        <span class="ml-auto">
                            <svg class="w-4 h-4 transition-transform" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                        </span>
                    </button>
                    <ul class="collapse" id="mediumCollapse">
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Интро</a>
                        </li>
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Функциональные
                                тренинги</a>
                        </li>
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Тренинг
                                выносливости</a>
                        </li>
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Воркаут
                                план</a>
                        </li>
                    </ul>
                </li>
                  <!-- Advanced link -->
                  <li>
                    <button
                        class="flex items-center w-full px-4 py-2 text-gray-100 transition-transform transform rounded-md hover:translate-x-1 focus:outline-none focus:ring"
                        data-bs-target="#advancedCollapse" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="advancedCollapse">
                        <span>
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <span class="ml-2 text-xl">Пост-Воркаут</span>
                        <span class="ml-auto">
                            <svg class="w-4 h-4 transition-transform" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                        </span>
                    </button>
                    <ul class="collapse" id="advancedCollapse">
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Оставшиеся дни</a>
                        </li>
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Восстановление</a>
                        </li>
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Фитнесс помощники</a>
                        </li>
                        <li>
                            <a href="#"
                              class="flex px-6 py-2 text-gray-100 text-lg transition-transform transform hover:translate-x-1">Дополнительные ресуры
                                план</a>
                        </li>
                    </ul>
                </li>
                
                    <li>
                </ul>
            </nav>

        </div>
    </aside>  
        <!-- Using bootstrap.js for its collapse plugin -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>



