
<div class="container container max-w-xl m-auto flex flex-wrap flex-col md:flex-row items-center justify-start">
  
    <div class="w-full lg:w-1/2 p-3">
      <div class="flex flex-col lg:flex-row rounded overflow-hidden h-auto lg:h-50 border shadow shadow-lg">
        <img class="h-48 w-full  object-cover md:h-full md:w-48" src="{{ site.baseurl }}/img/how-mrna1.png">
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="text-black font-bold text-xl mb-2 leading-tight"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
        </svg>ТОП-ИСТОРИЯ
    </div>
    <a href="{{ site.baseurl }}/top-story/"
    class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Каждая доза вакцины
    Moderna COVID-19 откладывает 40 триллионов молекул мРНК в ваше тело..
    <p class="mt-2 text-gray-500">

        Подробнее

    </p>
</a>
        </div>
      </div>
    </div>
    
    
    <div class="w-full lg:w-1/2 p-3">
      <div class="flex flex-col lg:flex-row-reverse rounded overflow-hidden h-auto lg:h-50 border shadow shadow-lg">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="{{ site.baseurl }}/img/dash.png" alt="">
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="text-black font-bold text-xl mb-2 leading-tight"> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
        </svg>ВАЖНОЕ ОБЪЯВЛЕНИЕ</div>
        <a href="{{ site.baseurl }}/announcement/"
        class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Кто Мы и Почему
        Важно Ознакомиться с Данным Объявлением
        <p class="mt-2 text-gray-500">
            Подробнее

        </p>
    </a>
        </div>
      </div>
    </div>