@charset "utf-8";

// Fonts
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
$family-sans-serif: "Helvetica Neue,Helvetica,Arial" 'EB Garamond', sans-serif;
$family-serif: "Helvetica Neue,Helvetica,Arial", cursive;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;
$title-family: $family-primary;
$navbar-box-shadow-size: 5px !important;
$navbar-box-shadow-color: hsl(0, 0%, 96%);
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

// Colours
$primary: #070707 !default;
$dark: #363636;
$light: #f6f6f6;
$white: #ffffff;

//Cards
$card-shadow: none;
$card-footer-border-top: none;
$card-background-color: $light;

// Pagination
$pagination-focus-border-color: $dark;
$pagination-current-color: $white;
$pagination-current-background-color: $dark;
$pagination-current-border-color: $dark;

// Radius
$radius: 0;
$radius-large: 0;
$radius-small: 0;

@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax";
@import "intro";
