<!doctype html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    {% unless page.hide_hero %}
    {% include hero.html %}
    {% endunless %}

    <section class="section">
        <div class="container">
            {{ content }}
        </div>
    </section>

    {% include news.html %}

    <style>
        p {
            line-height: 1rem;
        }
    </style>


    <section class="section">
        <div class="card" style="background: black ;">

            <div class="columns">
                <div class="column">
                    <center>
                    <p class="title is-4" style="color: seashell;">
                        <br /><b>
                            Мы Изменили Правила Игры В Здоровье
                        </b> </p>
                    <br />
                    <p class="subtitle is-6" style="color: seashell;">
                        Наша цель - дать вам возможность взять под свой контроль свое здоровье, предоставляя достоверную
                        информация о естественном здоровье и щашишая ваше право делать осознанный выбор в отношении
                        здоровья. Salutem Group.
                    </p>
                    <br />
                </center>
                </div>
                <div class="column">
                    <figure>
                        <img src="{{ site.baseurl }}/img/logo.svg" alt="">
                    </figure>
                </div>
            </div>
 
        </div>

        </div>

    </section>

    <section class="intro">

        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                    <center>
                        <p class="subtitle is-6">Присоединяйтесь к информационному порталу о здоровье #1 БЕСПЛАТНО!
                            <br /> <b> Последние достоверные новости от Натуропатов - будут доставлены на ваш почтовый
                                адрес!</b>
                    </center>
                    </p>
                </div>
                <div class="column">
                    <div class="control">

                        <input class="input is-normal" type="text" placeholder="Ваш электронный адрес">
                    </div>
                </div>
                <div class="column">
                    <button class="button"
                        style="background-color: rgb(185, 5, 5); color: white">Присоединяйтесь!</button>
                </div>
            </div>
        </div>
    </section>

    <hr />


    {% include footer.html %}