<!doctype html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    {% unless page.hide_hero %}
    {% include hero.html %}
    {% endunless %}

    <section class="section">
        <div class="container">
            {{ content }}
        </div>
    </section>

    {% include news.html %}

    <style>
        p {
            line-height: 1rem;
        }
    </style>


    <section class="hero is-medium" {% if page.image %}
        style="background: url('{{ site.baseurl }}/img/covr2.png') no-repeat center center; background-size: responsive; max-width: 100%;"
        {% endif %}>
        <div class="hero-body is-medium">

            <div class="columns">
                <div class="column is-one-third">

                </div>
                <div class="column">

                    <p class="title is-4" style="color: rgb(248, 248, 248);">
                        <br /><b>

                            Мы Изменили Правила Игры В Здоровье
                        </b>
                    </p>
                    <br />
                    <p class="subtitle is-6" style="color: rgb(3, 3, 3);">
                        <b>  Наша цель - дать вам возможность взять под свой контроль свое здоровье,
                        <br />
                        предоставляя
                        достоверную
                        информация о естественном здоровье и <br/> защищая ваше право делать осознанный выбор в
                        отношении
                        здоровья.
                        <br/><br/>
                      Salutem Group. </b>  

                    </p>
                    <br />

                </div>

            </div>

        </div>

    </section>

    <section class="intro">

        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                    <center>
                        <p class="subtitle is-6">Присоединяйтесь к информационному порталу о здоровье #1 БЕСПЛАТНО!
                            <br /> <b> Последние достоверные новости от Натуропатов - будут доставлены на ваш почтовый
                                адрес!</b>
                    </center>
                    </p>
                </div>
                <div class="column">
                    <div class="control">

                        <input class="input is-normal" type="text" placeholder="Ваш электронный адрес">
                    </div>
                </div>
                <div class="column">
                    <button class="button"
                        style="background-color: rgb(185, 5, 5); color: white">Присоединяйтесь!</button>
                </div>
            </div>
        </div>
    </section>

    <hr />


    {% include footer.html %}