{% include head.html %}
{% include navbar.html %}

<body class="bg-white">
    <header>
      <nav class="p-6">
        <div class="flex justify-between items-center">
          <h1 class="pr-6 border-r-2 text-2xl font-bold text-gray-500">Факты О Еде и Протеинах</h1>
          <div class="flex justify-between flex-grow">
            <div class="flex ml-6 items-center">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4 cursor-pointer text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </span>
              <input class="outline-none text-sm flex-grow bg-gray-100" type="text" placeholder="Найти..." />
            </div>
            <div class="md:flex space-x-6 hidden">
              <span class="text-gray-500 text-md">Фрукты</span>
              <span class="text-gray-500 text-md">Овощи</span>
              <span class="text-gray-500 text-md">Травы</span>
              <span class="text-gray-500 text-md">Орехи и Зерна</span>
              <span class="text-gray-500 text-md">Приправы и Пряности</span>
              <span class="text-gray-500 text-md">Насекомые</span>
            </div>
          </div>
        </div>
      </nav>
      <!-- Section Hero -->
      <style>
          
	.bg-app {
		background-image: url('https://images.unsplash.com/photo-1628697530090-444abffc3d2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1947&q=80');
	}
      </style>
      <div class="container mx-auto bg-app h-96 rounded-md flex items-center">
        <div class="sm:ml-20 text-gray-50 text-center sm:text-left">
          <h1 class="text-5xl text-indigo-600 font-extrabold mb-4">
              <i>
           Апгрейд Иммунитета<br />
            При Помощи Трав</i>
          </h1>
          <p class="text-2xl text-indigo-400 inline-block sm:block">Новая Книга от dr. Salutem</p>
          <button class="mt-8 px-4 py-2 bg-yellow-600 rounded">ЗАКАЗАТЬ СЕЙЧАС</button>
        </div>
      </div>
    </header>
    <main class="py-16 container mx-auto px-6 md:px-0">
      <section>
        <h1 class="text-3xl text-center font-bold text-gray-600 mb-10">Категории</h1>
        <div class="grid sm:grid-cols-3 gap-4 grid-cols-2">
          <div>
            <div class="h-48">
                <img class="object-contain h-48 w-full" src="https://images.unsplash.com/photo-1549888834-3ec93abae044?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="">
            </div>
            <h3 class="text-lg font-semibold text-center text-gray-500 mt-2"> Фрукты</h3>

          </div>
          <div>
            <div class="h-48">
                <img class="object-contain h-48 w-full" src="https://images.unsplash.com/photo-1555100250-871c1f166ad1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1951&q=80" alt="">
            </div>
            <h3 class="text-lg font-semibold text-center  text-gray-500 mt-2">Зелень </h3>
          </div>
          <div>
            <div class="h-48">
                <img class="object-contain h-48 w-full" src="https://images.unsplash.com/photo-1582745741856-1a5d68158ba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80" alt="">
            </div>
            <h3 class="text-lg font-semibold text-center text-gray-500 mt-2">Травы</h3>
          </div>
        </div>
        <div class="grid sm:grid-cols-3 gap-4 grid-cols-2 mt-16">
            <div>
              <div class="h-48"> <img class="object-contain h-48 w-full" src="https://images.unsplash.com/photo-1543208541-0961a29a8c3d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt=""></div>
              <h3 class="text-lg font-semibold text-center text-gray-500 mt-2"> Орехи и Зерна</h3>
            </div>
            <div>
              <div class="h-48"> <img class="object-contain h-48 w-full" src="https://images.unsplash.com/photo-1530991472021-ce0e43475f6e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt=""></div>
              <h3 class="text-lg font-semibold text-center  text-gray-500 mt-2">Приправы и Пряности </h3>
            </div>
            <div>
              <div class="h-48"> <img class="object-contain h-48 w-full" src="https://images.unsplash.com/photo-1509967733342-437077d8e41a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80" alt=""></div>
              <h3 class="text-lg font-semibold text-center text-gray-500 mt-2">Насекомые</h3>
            </div>
          </div>
          
        <hr class="w-40 my-14 border-4 rounded-md sm:mx-0 mx-auto" />
      </section>
      <section>
        <h1 class="text-3xl text-center font-bold text-gray-600 mb-10">Популярные</h1>
        <div class="grid sm:grid-cols-3 gap-4 grid-cols-2">
          <div>
            <div class="h-48"> <img class="object-contain h-48 w-full" src="{{ site.baseurl }}/img/foods/insect-juice.jpg" alt=""></div>
            <h3 class="text-lg font-semibold text-center text-gray-500 mt-2"> Протеины Из Насекомых</h3>
          </div>
          <div>
            <div class="h-48"> <img class="object-contain h-48 w-full" src="{{ site.baseurl }}/img/foods/truffle-oil-nutrition-facts.jpg" alt=""></div>
            <h3 class="text-lg font-semibold text-center  text-gray-500 mt-2">Масло Из Трюфеля </h3>
          </div>
          <div>
            <div class="h-48"> <img class="object-contain h-48 w-full" src="{{ site.baseurl }}/img/foods/nectarine.jpg" alt=""></div>
            <h3 class="text-lg font-semibold text-center text-gray-500 mt-2">Нектарин</h3>
          </div>
        </div>
          <hr class="w-40 my-14 border-4 rounded-md sm:mx-0 mx-auto" />
        </section>
    </main>
    <style>
        .bg-hero {
            background-image: url('https://images.unsplash.com/photo-1581478730747-4850812b9b14?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
        }
          </style>
          <div class="container mx-auto bg-hero h-96 rounded-md flex items-center">
            <div class="sm:ml-20 text-gray-50 text-center sm:text-left">
                <div class="columns">
                    <div class="column">
              <h1 class="text-4xl font-extrabold mb-4">
               Об "Факты О Еде"
              </h1>
              <p class="text-xl text-indigo-100 inline-block sm:block">
                Факты о Еде от dr.Salutem - это каталог здоровой пищи, который вы должны добавить в свой здоровый рацион. Этот сайт предназначен для предоставления людям ценной информации о различных типах продуктов питания...
              </p>
            </div>
            <div class="column"></div>
            </div>
            </div>
          </div>
    </body>
    {% include invite.html %}

    {% include footer.html %}
