{% include head.html %}
{% include navbar.html %}

<body class="bg-white">
    {% include ff-hero.html %}
    <main class="py-16 container mx-auto px-6 md:px-0">
        <section class="text-indigo-200 body-font p-5">
            <h1 class="text-3xl text-center font-bold text-gray-900 mb-10">{{ page.title }} </h1>
            <div class="mx-auto flex px-5  md:flex-row flex-col items-center jobcard">
                <div
                    class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center">

                    <figure class="visible">
                        <div class="">
                            <div class="pt-10 px-2 sm:px-6">
                                <span
                                    class="inline-block py-1 px-2 rounded-full bg-green-600 text-white  text-xs font-bold tracking-widest mb-2">Проверенный
                                    Факт</span>
                                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-700">
                                    {{ page.subtitle }}<br class="hidden lg:inline-block" />{{ page.subtitle1 }}:{{
                                    page.subtitle2 }}
                                </h1>
                                <p class="text-indigo-800 text-base pb-6">8 сентября, 2021</p>

                                <p class="text-indigo-900 text-xl pb-6">{{ page.text1 }} </p>
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center pb-12">
                                        <div class="h-12 w-12">
                                            <img src="{{ site.baseurl }}/{{ page.avatar }}" alt
                                                class="h-full w-full object-cover overflow-hidden rounded-full" />
                                        </div>
                                        <p class="text-indigo-700 font-bold ml-3">
                                            Дарья <br />
                                            <span class="text-indigo-500 text-base font-light">Salutem Group</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 sm:block hidden">
                    <img class="object-cover object-center rounded" alt="hero"
                        src="{{ site.baseurl }}/{{ page.image }}" />
                </div>
            </div>
        </section>
        <section>
            {{ content }}
        </section>
        <div>
            <div class="m-auto px-2 py-2 max-w-5xl">
                <p class="capitalize text-center text-4xl font-bold text-red-700"> {{ page.recipeTitle }}</p>
                <p class="capitalize text-center text-4xl font-bold text-black"> {{ page.recipeTitle1 }}</p><br />
                <p class="text-xl"> {{ page.recipeDescription }}:</p> <br />
                <div class="bg-white shadow-2xl">
                    <div>
                        <img src="{{ site.baseurl }}/{{ page.recipe }}">
                    </div>

                    <div class="px-4 py-2 mt-2 bg-white">
                        <h2 class="font-bold text-2xl text-gray-800"> Игредиенты</h2>
                        <div class="grid grid-cols-3 gap-2">
                            <div>
                                <p class="sm:text-sm text-xs text-gray-700 px-2 mr-1 my-3">
                                    {{ page.ingr-col1 }}
                                </p>
                            </div>
                            <div>
                                <p class="sm:text-sm text-xs text-gray-700 px-2 mr-1 my-3">
                                    {{ page.ingr-col2 }}
                                </p>
                            </div>
                            <div>
                                <p class="sm:text-sm text-xs text-gray-700 px-2 mr-1 my-3">
                                    {{ page.ingr-col3 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-2 mt-2 bg-white">
                        <h2 class="font-bold text-2xl text-gray-800"> Дрессинги</h2>
                        <div class="grid grid-cols-3 gap-2">
                            <div>
                                <p class="sm:text-sm text-xs text-gray-700 px-2 mr-1 my-3">
                                    {{ page.dressing1 }}
                                </p>
                            </div>
                            <div>
                                <p class="sm:text-sm text-xs text-gray-700 px-2 mr-1 my-3">
                                    {{ page.dressing2 }}
                                </p>
                            </div>
                            <div>
                                <p class="sm:text-sm text-xs text-gray-700 px-2 mr-1 my-3">
                                    {{ page.dressing3 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="mt-16">

                    <div class="text-black font-bold text-2xl mb-2 leading-tight"> 
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                        </svg> Процедура:</div>
                    <br />
                    <p class="text-xl"> {{ page.preparing }}</p> <br />
                    <p class="text-xl"> {{ page.preparing1 }}</p> <br />
                    <p class="text-xl"> {{ page.preparing2 }}</p> <br />
                </section>
                <section>
                    <div class="m-auto px-2 py-2 max-w-5xl">
                        <p class="capitalize text-center text-4xl font-bold text-red-700"> Забавные Факты {{ page.maintitle }} </p><br/>
                        <p class="text-xl"> {{ page.last }}</p> <br />
                        <blockquote class="bg-gray-200">
                            <p class="text-xl mx-5 py-4 mb-8"> 
                                <strong>{{ page.summary }}</strong><br/><br/>
                                {{ page.summaryt }}</p>
                         </blockquote>
        
                </section>
    </main>
</body>


{% include second-book.html %}
{% include footer.html %}