{% include head.html %}
{% include navbar.html %}

<body class="bg-white">
    {% include ff-hero.html %}
    <main class="py-16 container mx-auto px-6 md:px-0">
        <section class="text-indigo-200 body-font p-5">
            <h1 class="text-3xl text-center font-bold text-gray-900 mb-10">{{ page.title }} </h1>
            <div class="mx-auto flex px-5  md:flex-row flex-col items-center jobcard">
                <div
                    class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center">

                    <figure class="visible">
                        <div class="">
                            <div class="pt-10 px-2 sm:px-6">
                                <span
                                    class="inline-block py-1 px-2 rounded-full bg-green-600 text-white  text-xs font-bold tracking-widest mb-2">Проверенный Факт</span>
                                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-700">
                                    {{ page.subtitle }}<br class="hidden lg:inline-block" />{{ page.subtitle1 }}:{{ page.subtitle2 }}
                                </h1>
                                <p class="text-indigo-800 text-base pb-6">8 сентября, 2021</p>

                                <p class="text-indigo-900 text-xl pb-6">{{ page.text1 }} </p>
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center pb-12">
                                        <div class="h-12 w-12">
                                            <img src="{{ site.baseurl }}/{{ page.image }}"
                                                alt class="h-full w-full object-cover overflow-hidden rounded-full" />
                                        </div>
                                        <p class="text-indigo-700 font-bold ml-3">
                                            Дарья <br />
                                            <span class="text-indigo-500 text-base font-light">Salutem Group</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </figure>

                </div>
                <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 sm:block hidden">
                    <img class="object-cover object-center rounded" alt="hero" src="{{ site.baseurl }}/{{ page.image }}" />
                </div>
            </div>
        </section>
<section>
    {{ content }}
</section>
    </main>
</body>

{% include footer.html %}