<!doctype html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <hr />
    <div class="columns is-centered">
        <center>
            <h1 class="title">
                <br /> <br />
                <strong>
                    Массовый психоз - <br /> как создать эпидемию психических заболеваний </strong>
                <br /> <br />
            </h1>
        </center>
    </div>

    <div class="columns is-centered">
        <div class="column is-8-desktop is-10-tablet">
            <div class="content is centered">
                <p>
                    <center>Проанализировано командой <a href=""> Salutem </a>
                        <br />
                        <span class="icon has-text-success">
                            <i class="fas fa-check-square fas fa-2x"></i>
                        </span>
                    </center>
                </p>
            </div>
            <div class="columns">
                <div class="column is-three-quarters">
                    <a href="{{ page.facebook }}" class="button is-light" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="{{ page.instagram }}" class="button is-light" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="{{ page.telegram }}" class="button is-light" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="{{ page.whatsapp }}" class="button is-light" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <div class="column">
                    <a href="{{ site.baseurl }}/third-news/">
                        <button class="button is-danger">
                            < Предыдущая</button> </a>
                </div>
            </div>

            <p><strong>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</strong></p>
            <br />
            <div class="section is-centered">
                <center> {{ content }} </center>
            </div>
            <div class="section">
                <p class="subtitle is-3"> <strong> Худший враг человека </strong></p>
                <br /> <br />
                <p class="subtitle is-5">
                    <strong> Как отмечено в видео: </strong><br /> <br /><br />
                    «Массы никогда не жаждали истины. Они отворачиваются от свидетельств, которые им не по вкусу,
                    предпочитая обожествлять заблуждение, если ошибка соблазняет их. Тот, кто может снабдить их
                    иллюзиями, легко становится их хозяином; тот, кто пытается разрушить их иллюзии, всегда становится
                    их жертвой ».
                    <br /><br />
                    Это цитата, приписываемая Гюставу Ле Бону, французскому социальному психологу, известному своими
                    исследованиями толпы. Его книга <a href="https://www.files.ethz.ch/isn/125518/1414_LeBon.pdf">
                        «Толпа: исследование народного ума» </a> глубоко погружается в
                    характеристики человеческих толп и то, как, когда люди собираются в группы, люди склонны
                    отказываться от сознательного размышления в пользу бессознательных действий толпы. Точно так же
                    психолог Карл Юнг однажды заявил, что:
                    <br /><br />
                    <i> <strong> «Не голод, не землетрясения, не микробы, не рак, но сам человек представляет наибольшую
                            опасность
                            для человека по той простой причине, что нет адекватной защиты от психических эпидемий,
                            которые
                            бесконечно более разрушительны, чем худшие из природных катастрофы ».</strong>
                    </i>
                    <br /><br />
                    Когда общество впадает в безумие, результаты всегда разрушительны. Юнг, изучавший массовые психозы,
                    писал, что люди, составляющие пострадавшее общество, «становятся морально и духовно неполноценными».
                    Они становятся «неразумными, безответственными, эмоциональными, неустойчивыми и ненадежными».
                    <br /><br />
                    Хуже всего то, что толпа психотиков будет участвовать в злодеяниях, которые ни один одинокий человек
                    в группе обычно никогда не рассматривал бы. Тем не менее, несмотря на все это, пострадавшие остаются
                    в неведении о своем состоянии и не могут распознать ошибку на своем пути.
</p>
                <p class="subtitle is-3"> <strong> Что вызывает массовый психоз?
                    </strong></p>
                <br /> <br />
                <p class="subtitle is-5">
                Чтобы понять, как можно довести до безумия все общество, вы должны сначала понять, что сводит с ума
                любого конкретного человека. За исключением злоупотребления наркотиками или алкоголем, а также травм
                головного мозга, психоз обычно вызывается психогенными факторами, то есть влияниями, берущими свое
                начало в сознании.
                <br /><br />
                Один из наиболее распространенных психогенных факторов, которые могут вызвать психоз, - это поток
                негативных эмоций, таких как страх или тревога, который приводит человека в состояние паники. Когда
                вы в панике, естественная склонность - искать облегчения. Психологически устойчивый человек может
                адаптироваться, столкнувшись со своим страхом и в конечном итоге победив его.
                <br /><br />
                Другой механизм преодоления - психотический срыв. Как поясняется в видео, психотический срыв - это
                не погружение в хаос, а, скорее, переупорядочивание переживательного мира таким образом, чтобы
                смешивать факты и вымысел, реальность и иллюзии, таким образом, что восстанавливается чувство
                контроля и возникает паника. заканчивается. Психогенные шаги, ведущие к безумию, можно резюмировать
                следующим образом:
                <br /><br />
                Фаза паники - здесь человек начинает по-другому воспринимать окружающий мир и из-за этого пугается.
                    Есть предполагаемая угроза, будь то реальная, сфабрикованная или воображаемая. Растет
                    замешательство, поскольку они не могут найти способ рационально объяснить странные явления,
                    происходящие вокруг них. <br /><br /></li>
                <li> Фаза психотического озарения - здесь человеку удается объяснить свое ненормальное восприятие мира,
                    изобретая нелогичный, но волшебный способ видения реальности. Термин «озарение» используется потому,
                    что магическое мышление позволяет человеку вырваться из паники и снова обрести смысл. Однако это
                    прозрение психотическое, потому что оно основано на заблуждениях.</li>
                <br /><br />
                Подобно тому, как психологически слабый и уязвимый человек может быть доведен до безумия, так и
                большие группы слабых и уязвимых людей могут впасть в безумие и магическое мышление.
                <br /><br />
</p>
                <p class="subtitle is-3"> <strong>
                        Тоталитаризм - это общество, построенное на заблуждениях
                    </strong></p>
                <br /> <br />
                <p class="subtitle is-5">
                В 20-м веке мы стали свидетелями подъема тоталитаризма, который профессор и религиовед Артур Верслуис
                определил как:
                <br /> <br />
                <ul> <strong>«Современный феномен тотальной централизованной государственной власти в сочетании с
                        уничтожением
                        индивидуальных прав человека: в тотальном государстве есть те, кто находится у власти, и есть
                        объективированные массы, жертвы». </strong> </ul>
                <br /> <br />
                В тоталитарном обществе есть два класса: правители и управляемые, и обе группы претерпевают
                патологическую трансформацию. Правители возводятся в богоподобный статус, где они не могут сделать
                ничего плохого - точка зрения, которая легко приводит к коррупции и неэтичному поведению, - в то время
                как подчиненные превращаются в зависимых субъектов, что приводит к психологической регрессии.
                <br /> <br />
                Джуст Меерлоо, автор книги «Похищение разума», сравнивает реакцию граждан, живущих в тоталитарных
                государствах, с реакцией шизофреников. Болеют и правители, и подчиненные. Оба живут в бредовом тумане,
                поскольку все общество и его правила поддерживаются бредовым мышлением.
                <br /> <br />
                Как отмечается в видео, только обманутые люди регрессируют к детскому состоянию полной покорности, и
                только обманутый правящий класс поверит, что они обладают знаниями и мудростью, чтобы контролировать
                общество сверху вниз. И только заблуждающийся человек поверит, что властолюбивая элита, правящая
                психически регрессивным обществом, приведет к чему угодно, кроме массовых страданий и финансового краха.
                <br /> <br />
                Массовый психоз, который называется тоталитаризмом, начинается внутри правящего класса, поскольку люди в
                этом классе легко увлекаются иллюзиями, увеличивающими их власть. И нет заблуждения более великого, чем
                заблуждение, что они могут и должны - более того, им суждено - контролировать и доминировать над всеми
                остальными.
                <br /> <br />
                Независимо от того, принимает ли тоталитарное мышление форму коммунизма, фашизма или технократии,
                правящая элита, поддавшаяся собственным мании величия, затем начинает внушать массам свое собственное
                искаженное мировоззрение. Все, что нужно для реорганизации общества, - это манипулирование коллективными
                чувствами.<br /> <br />
</p>
                <p class="subtitle is-3"> <strong>
                        Убийство разума
                    </strong></p>
                <br /> <br />
                <p class="subtitle is-5">
                Ментицид - это термин, который означает «убийство разума», и это древний способ контролировать массы
                путем систематического уничтожения человеческого духа и свободы мысли. Это система, с помощью которой
                правящая элита накладывает на общество свое бредовое мировоззрение.
                <br /> <br />
                Общество настроено на ментальное убийство преднамеренным посевом страха. Особенно эффективный способ
                вызвать страх и панику, которые приводят к психозу, - это развязывание волн ужаса, и не имеет значения,
                реален ли рассматриваемый «ужас» или вымышленный. Технику «волны ужаса» можно представить в виде
                нарастающей волны, в которой за каждым раундом страха следует раунд спокойствия.
                <br /> <br />
                </p>
                </p>
            </div>


        </div>
    </div>
    {% include footer.html %}


</body>

</html>