{% include head.html %}
{% include navbar.html %}

<body>
    <hr />
    <div class="columns is-centered">
        <center>
            <h1 class="title">
                <br /> <br />
                <strong>
                    Массовый психоз - <br /> как создать эпидемию психических заболеваний </strong>
                <br /> <br />
            </h1>
        </center>
    </div>

    <div class="columns is-centered">
        <div class="column is-8-desktop is-10-tablet">
            <div class="content is centered">
                <p>
                    <center>Проанализировано командой <a href=""> Salutem </a>
                        <br />
                        <span class="icon has-text-success">
                            <i class="fas fa-check-square fas fa-2x"></i>
                        </span>
                    </center>
                </p>
            </div>
            <div class="columns">
                <div class="column is-three-quarters">
                    <a href="{{ page.facebook }}" class="button is-light" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="{{ page.instagram }}" class="button is-light" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="{{ page.telegram }}" class="button is-light" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="{{ page.whatsapp }}" class="button is-light" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <div class="column">
                    <a href="{{ site.baseurl }}/second-news/">
                        <button class="button is-danger">
                            < Предыдущая</button> </a>
                </div>
            </div>

            <p><strong>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</strong></p>
            <br />
            <div class="section is-centered">
                <center> {{ content }} </center>
            </div>
            <div class="section">
                <p class="subtitle is-3"> <strong> Худший враг человека </strong>
                </p>
                <br /> <br />
                <p class="subtitle is-5">
                    <strong> Как отмечено в видео: </strong><br /> <br /><br />
                    «Массы никогда не жаждали истины. Они отворачиваются от свидетельств, которые им не по вкусу,
                    предпочитая обожествлять заблуждение, если ошибка соблазняет их. Тот, кто может снабдить их
                    иллюзиями, легко становится их хозяином; тот, кто пытается разрушить их иллюзии, всегда становится
                    их жертвой ».
                    <br /><br />
                    Это цитата, приписываемая Гюставу Ле Бону, французскому социальному психологу, известному своими
                    исследованиями толпы. Его книга <a href="https://www.files.ethz.ch/isn/125518/1414_LeBon.pdf">
                        «Толпа: исследование народного ума» </a> глубоко погружается в
                    характеристики человеческих толп и то, как, когда люди собираются в группы, люди склонны
                    отказываться от сознательного размышления в пользу бессознательных действий толпы. Точно так же
                    психолог Карл Юнг однажды заявил, что:
                    <br /><br />
                    <i> <strong> «Не голод, не землетрясения, не микробы, не рак, но сам человек представляет наибольшую
                            опасность
                            для человека по той простой причине, что нет адекватной защиты от психических эпидемий,
                            которые
                            бесконечно более разрушительны, чем худшие из природных катастрофы ».</strong>
                    </i>
                    <br /><br />
                    Когда общество впадает в безумие, результаты всегда разрушительны. Юнг, изучавший массовые психозы,
                    писал, что люди, составляющие пострадавшее общество, «становятся морально и духовно неполноценными».
                    Они становятся «неразумными, безответственными, эмоциональными, неустойчивыми и ненадежными».
                    <br /><br />
                    Хуже всего то, что толпа психотиков будет участвовать в злодеяниях, которые ни один одинокий человек
                    в группе обычно никогда не рассматривал бы. Тем не менее, несмотря на все это, пострадавшие остаются
                    в неведении о своем состоянии и не могут распознать ошибку на своем пути.
                </p>
                <p class="subtitle is-3"> <strong> Что вызывает массовый психоз?
                    </strong>
                </p>
                <br /> <br />
                <p class="subtitle is-5">
                    Чтобы понять, как можно довести до безумия все общество, вы должны сначала понять, что сводит с ума
                    любого конкретного человека. За исключением злоупотребления наркотиками или алкоголем, а также травм
                    головного мозга, психоз обычно вызывается психогенными факторами, то есть влияниями, берущими свое
                    начало в сознании.
                    <br /><br />
                    Один из наиболее распространенных психогенных факторов, которые могут вызвать психоз, - это поток
                    негативных эмоций, таких как страх или тревога, который приводит человека в состояние паники. Когда
                    вы в панике, естественная склонность - искать облегчения. Психологически устойчивый человек может
                    адаптироваться, столкнувшись со своим страхом и в конечном итоге победив его.
                    <br /><br />
                    Другой механизм преодоления - психотический срыв. Как поясняется в видео, психотический срыв - это
                    не погружение в хаос, а, скорее, переупорядочивание переживательного мира таким образом, чтобы
                    смешивать факты и вымысел, реальность и иллюзии, таким образом, что восстанавливается чувство
                    контроля и возникает паника. заканчивается. Психогенные шаги, ведущие к безумию, можно резюмировать
                    следующим образом:
                    <br /><br />
                <ul>1. Фаза паники - здесь человек начинает по-другому воспринимать окружающий мир и из-за этого
                    пугается.
                    Есть предполагаемая угроза, будь то реальная, сфабрикованная или воображаемая. Растет
                    замешательство, поскольку они не могут найти способ рационально объяснить странные явления,
                    происходящие вокруг них. <br /><br />
                    2. Фаза психотического озарения - здесь человеку удается объяснить свое ненормальное восприятие
                    мира,
                    изобретая нелогичный, но волшебный способ видения реальности. Термин «озарение» используется потому,
                    что магическое мышление позволяет человеку вырваться из паники и снова обрести смысл. Однако это
                    прозрение психотическое, потому что оно основано на заблуждениях.</ul>
                <br /><br />
                </p>

                <p class="subtitle is-5">
                    Подобно тому, как психологически слабый и уязвимый человек может быть доведен до безумия, так и
                    большие группы слабых и уязвимых людей могут впасть в безумие и магическое мышление.
                    <br /><br />

                </p>
                <p class="subtitle is-3"> <strong>
                        Тоталитаризм - это общество, построенное на заблуждениях
                    </strong>
                </p>
                <br /> <br />
                <p class="subtitle is-5">
                    В 20-м веке мы стали свидетелями подъема тоталитаризма, который профессор и религиовед Артур
                    Верслуис
                    определил как:
                    <br /> <br />
                    <i> <strong>«Современный феномен тотальной централизованной государственной власти в сочетании с
                            уничтожением
                            индивидуальных прав человека: в тотальном государстве есть те, кто находится у власти, и
                            есть
                            объективированные массы, жертвы». </strong> </i>
                    <br /> <br />
                    В тоталитарном обществе есть два класса: правители и управляемые, и обе группы претерпевают
                    патологическую трансформацию. Правители возводятся в богоподобный статус, где они не могут сделать
                    ничего плохого - точка зрения, которая легко приводит к коррупции и неэтичному поведению, - в то
                    время
                    как подчиненные превращаются в зависимых субъектов, что приводит к психологической регрессии.
                    <br /> <br />
                    Джуст Меерлоо, автор книги «Похищение разума», сравнивает реакцию граждан, живущих в тоталитарных
                    государствах, с реакцией шизофреников. Болеют и правители, и подчиненные. Оба живут в бредовом
                    тумане,
                    поскольку все общество и его правила поддерживаются бредовым мышлением.
                    <br /> <br />
                    Как отмечается в видео, только обманутые люди регрессируют к детскому состоянию полной покорности, и
                    только обманутый правящий класс поверит, что они обладают знаниями и мудростью, чтобы контролировать
                    общество сверху вниз. И только заблуждающийся человек поверит, что властолюбивая элита, правящая
                    психически регрессивным обществом, приведет к чему угодно, кроме массовых страданий и финансового
                    краха.
                    <br /> <br />
                    Массовый психоз, который называется тоталитаризмом, начинается внутри правящего класса, поскольку
                    люди в
                    этом классе легко увлекаются иллюзиями, увеличивающими их власть. И нет заблуждения более великого,
                    чем
                    заблуждение, что они могут и должны - более того, им суждено - контролировать и доминировать над
                    всеми
                    остальными.
                    <br /> <br />
                    Независимо от того, принимает ли тоталитарное мышление форму коммунизма, фашизма или технократии,
                    правящая элита, поддавшаяся собственной мании величия, затем начинает внушать массам свое
                    собственное
                    искаженное мировоззрение. Все, что нужно для реорганизации общества, - это манипулирование
                    коллективными
                    чувствами.<br /> <br />
                </p>
                <p class="subtitle is-3"> <strong>
                        Убийство разума
                    </strong></p>
                <br /> <br />
                <p class="subtitle is-5">
                    Ментицид - это термин, который означает «убийство разума», и это древний способ контролировать массы
                    путем систематического уничтожения человеческого духа и свободы мысли. Это система, с помощью
                    которой
                    правящая элита накладывает на общество свое бредовое мировоззрение.
                    <br /> <br />
                    Общество настроено на ментальное убийство преднамеренным посевом страха. Особенно эффективный способ
                    вызвать страх и панику, которые приводят к психозу, - это развязывание волн ужаса, и не имеет
                    значения,
                    реален ли рассматриваемый «ужас» или вымышленный. Технику «волны ужаса» можно представить в виде
                    нарастающей волны, в которой за каждым раундом страха следует раунд спокойствия.
                    <br /> <br />
                </p>
                <center>
                    <article class="message is-warning">
                        <div class="message-body">
                            "Противоречивые сообщения, бессмысленные рекомендации и наглая ложь используются намеренно,
                            так как это усиливает путаницу. Чем больше запутано население, тем сильнее тревожность,
                            которая снижает способность общества справляться с кризисом. Чем меньше умение справляться с
                            холкой, тем больше шансов разовьется массовый психоз."
                        </div>
                    </article>
                </center>

                <p class="subtitle is-5">
                    <br /> <br />
                    После короткого периода затишья уровень угрозы снова повышается, и каждый раунд разжигания страха
                    становится более интенсивным, чем предыдущий. Пропаганда - фальшивые и вводящие в заблуждение
                    новости - используются для того, чтобы сломить умы масс, и со временем становится все легче и легче
                    контролировать всех, поскольку замешательство и тревога уступают место магическому мышлению и
                    психотическому пониманию, представленному в качестве решений через средства массовой информации.
                    <br /> <br />
                    Противоречивые сообщения, бессмысленные рекомендации и наглая ложь используются намеренно, так как
                    это усиливает путаницу. Чем больше запутано население, тем сильнее тревожность, которая снижает
                    способность общества справляться с кризисом. Чем меньше умение справляться с холкой, тем больше
                    шансов разовьется массовый психоз.
                    <br /> <br />
                    Как отмечается в видео, «замешательство увеличивает восприимчивость к заблуждению тоталитаризма».
                    Или, как заметил Меерлоо в своей книге:
                    <br /> <br />
                    <i> <strong> «Логику можно встретить логикой, а нелогичность - нет. Это сбивает с толку тех, кто
                            думает правильно. Большая ложь и монотонно повторяемая чепуха больше эмоциональна… чем
                            логика и разум. Пока люди все еще ищут разумный контраргумент первой лжи, тоталитаристы
                            могут атаковать их другим ».</strong> </i>
                    <br /> <br />
                </p>
                <p class="subtitle is-3"> <strong>
                        Расцвет технократии </strong>
                </p>
                <p class="subtitle is-5">
                    Что отличает современный тоталитаризм от предыдущих тоталитарных государств, так это технологии.
                    Средства для разжигания страха и манипулирования мышлением людей никогда не были более эффективными
                    и действенными. Телевидение, Интернет, смартфоны и социальные сети - все это в наши дни источники
                    информации, и контролировать поток этой информации проще, чем когда-либо.
                    <br /> <br />
                    Алгоритмы автоматически отфильтровывают голоса разума и рационального мышления, заменяя их
                    рассказами о страхе. Современные технологии также вызывают привыкание, поэтому многие добровольно
                    подвергаются «промыванию мозгов». Комментируя зависимость человека от технологий, Мерлоо отмечает:
                    <br /> <br />
                    «Ни отдыха, ни медитации, ни размышлений, ни разговоров. Чувства постоянно перегружены
                    раздражителями. Человек больше не учится подвергать сомнению свой мир. Экран предлагает ему уже
                    сделанные ответы ».
                </p>
                <br /> <br />
                <p class="subtitle is-3"> <strong>
                        Изоляция - средство, вызывающее массовый психоз </strong>
                </p>
                <br />
                <p class="subtitle is-5">
                    Если не считать натиска разжигания страха и ложной пропаганды, основным инструментом для возбуждения
                    психоза является изоляция. Когда вы лишены регулярных социальных взаимодействий и дискуссий, вы
                    становитесь более подверженными заблуждениям по ряду причин:
                    <br /> <br />
                    1. Вы теряете контакт с корректирующими силами положительных примеров, образцов для подражания
                    рационального мышления и поведения. Не всех обманывают попытки «промывания мозгов» правящей элиты, и
                    эти
                    люди могут помочь другим освободиться от их заблуждений. Когда вы находитесь в изоляции, сила этих
                    людей
                    сильно падает.
                    <br /> <br />
                    2. Подобно животным, человеческим поведением значительно легче манипулировать, когда человек
                    содержится
                    в изоляции. Как показали исследования на животных, условные рефлексы легче всего выработать в тихой,
                    уединенной лаборатории с минимумом раздражителей, отвлекающих от идеологической обработки.
                    <br /> <br />
                    Если вы хотите приручить дикое животное, вы должны изолировать животное и терпеливо повторять
                    определенный стимул, пока не будет получен желаемый ответ. Таким же образом можно управлять людьми.
                    Одинокое, сбитое с толку и избитое волнами террора общество, изолированное друг от друга, впадает в
                    безумие, поскольку рациональное мышление стирается и заменяется магическим мышлением.
                    <br /> <br />
                    Когда общество прочно охвачено массовым психозом, тоталитаристы могут сделать последний решительный
                    шаг:
                    они могут предложить выход; возврат к порядку. Цена - ваша свобода. Вы должны передать правителям
                    контроль над всеми аспектами своей жизни, потому что, если им не будет предоставлен полный контроль,
                    они
                    не смогут создать порядок, которого все жаждут.
                    <br /> <br />
                    Однако этот порядок патологический, лишенный всякой человечности. Он устраняет спонтанность, которая
                    приносит радость и творчество в жизнь, требуя строгого подчинения и слепого послушания.
                    <br /> <br />
                    И, несмотря на обещание безопасности, тоталитарное общество по своей природе внушает страх. Он был
                    построен на страхе и поддерживается им. Таким образом, отказ от свободы ради безопасности и чувства
                    порядка приведет только к еще большему количеству того же страха и беспокойства, которые изначально
                    позволили тоталитаристам получить контроль.<br /> <br />
                </p>
                <p class="subtitle is-3"> <strong>
                        Как обратить вспять массовый психоз? </strong>
                </p>
                <br />
                <p class="subtitle is-5">

                    Можно ли предотвратить тоталитаризм? И можно ли обратить вспять последствия массового психоза? Да,
                    но так же, как ментальный подход многогранен, решение должно быть таким же. Чтобы помочь вернуть
                    здравомыслие в безумный мир, сначала вам нужно сосредоточиться на себе и жить так, чтобы вдохновлять
                    других следовать за ним. Как заметил Юнг:

                    <br /> <br />
                    <i><strong>«Недаром наш век взывает к личности-искупителю, к тому, кто может освободиться от тисков
                            коллективного психоза и спасти хотя бы свою собственную душу, кто зажигает маяк надежды для
                            других, провозглашая, что здесь по крайней мере, один человек, которому удалось освободиться
                            от фатальной идентичности с групповой психикой ».</strong></i>
                    <br /> <br />
                </p>
                <p class="subtitle is-5">
                    Затем вам нужно делиться и распространять правду - контрнарратив пропаганды - как можно дальше и
                    шире. Поскольку правда всегда сильнее лжи, успех пропаганды зависит от цензуры правды. Другая
                    тактика - использовать юмор и насмешки для делегитимации правящей элиты.
                    <br /> <br />
                    Стратегия, предложенная Вацлавом Гавелом, политическим диссидентом, ставшим президентом
                    Чехословакии, называется «параллельными структурами». Параллельная структура - это любой бизнес,
                    организация, технология, движение или творческое занятие, которое вписывается в тоталитарное
                    общество, но морально находится вне его.
                    <br /> <br />
                    Как только будет создано достаточно параллельных структур, рождается параллельная культура, которая
                    функционирует как святилище здравомыслия в тоталитарном мире. Гавел объясняет эту стратегию в своей
                    книге «Сила бессильных».
                    <br /> <br />
                    И последнее, но не менее важное: чтобы не допустить погружения в тоталитарное безумие, разумные и
                    рациональные действия должны быть предприняты как можно большим количеством людей. Тоталитарная
                    элита не бездельничает, бездельничая, надеясь и желая увеличить свою власть и контроль. Нет. Они
                    активно предпринимают шаги по усилению своего положения. Чтобы защититься от них, потенциальные
                    управляемые должны быть столь же активными и решительными в своем ответном натиске на свободу.

                    <br /> <br />
                    Все это может быть чрезвычайно сложной задачей, поскольку люди вокруг вас поддаются коллективному
                    психозу. Но как однажды сказал Томас Пейн:<br /> <br />
                    <i><strong> «Тирания, как ад, нелегко победить, но у нас есть утешение: чем тяжелее борьба, тем
                            славнее триумф».<strong></i>
                </p>
            </div>

        
        </div>
    </div>
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
    diameter: 56,
    backgroundColor: 'indigo',
    textColor: '#fff'
    })</script> 
    </body>
    {% include book-ad.html %}
    {% include footer.html %}
